.overview_container {

    overflow-y: scroll;
    overflow-x: hidden;

    .container {
        margin-block: var(--major-content-spacing);
        padding-inline: var(--internal-padding);
        /* display: flex;
        flex-direction: column; */

        .head {
            display: grid;
            grid-template-columns: auto auto;

            h1 {
                font-weight: normal;
            }

            .img_container {
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: var(--img-size-large);
                    aspect-ratio: 1;
                }
            }
        }

        .contacts {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 40px;

            .contact_container {
                
                a {
                    color: var(--text-color);
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    gap: var(--internal-padding);
                    
                    img {
                        width: var(--bullet-size);
                        aspect-ratio: 1;
                    }
                }
            }
        }

        .timeline_container {
            max-height: calc(2 * (2 * var(--internal-padding) + var(--img-size-mid)));
            overflow-y: scroll;

            .timeline_card_container {
                
                > div:nth-child(2) {
                    height: calc(2 * var(--internal-padding) + var(--img-size-mid));
                    background-color: var(--secondary);
                    border-radius: var(--border);
                    display: flex;
                    flex-direction: row;
                    
                    p {
                        padding: var(--internal-padding);
                    }

                    q {
                        padding: var(--internal-padding);
                        flex-grow: 1;
                    }

                    q:before {
                        content: '"'; 
                        color: var(--primary);
                        vertical-align: super;
                        font-size: var(--large-heading);
                        font-weight: bold;
                        font-family: "Lato", sans-serif;
                    }

                    q:after {
                        display: none;
                    }

                    .separator {
                        width: var(--bar-size);
                        background-color: var(--text-color);
                    }

                    .img_container {

                        margin: var(--internal-padding);
                        border-radius: 50%;
                        overflow: hidden;
                        
                        img {
                            width: var(--img-size-mid);
                            aspect-ratio: 1;
                        }
                    }
                }
            }
        }

        .desktop_timeline_container {

            .bullet {
                margin-inline: auto;
            }

            .desktop_timeline {
                display: grid;
                grid-template-columns: 1fr var(--bullet-size) 1fr;

                .desktop_timeline_history {

                    display: grid;
                    grid-template-rows: var(--bullet-size) auto;

                    .timeline_date {
                        align-items: center;

                        p {
                            font-size: var(--small-text);
                            padding-inline: var(--internal-padding);
                        }
                    }

                    .edu_timeline_card {
                        background-color: var(--secondary);
                        border-radius: var(--border);
                        padding: var(--internal-padding);
                    }
                }

                .timeline_bone {
                    display: grid;
                    grid-template-rows: var(--bullet-size) auto;
                }


            }
            
            .desktop_timeline:nth-child(even) {

                .timeline_date {
                    display: flex;
                    flex-direction: row;
                }
            }
            
            .desktop_timeline:nth-child(odd) {

                .timeline_date {
                    display: flex;
                    flex-direction: row-reverse;
                }
            }

        }

        .project_card_preview {
            height: calc(100vh - (2 * var(--major-content-spacing) + 4 * var(--internal-padding) + var(--large-heading)));
            margin-block: var(--internal-padding);
            background-color: var(--secondary);
            border-radius: var(--border);
            padding: var(--internal-padding);

            .project_preview {
                display: grid;
                grid-template-columns: auto auto;
                
                .project_content_section {
                    padding-block: var(--internal-padding);

                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 8;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                
                .read_more_btn {
                    margin: var(--internal-padding);
                    background-color: var(--primary);
                    border: none;
                    border-radius: var(--border);
                    padding: var(--internal-padding);
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container:nth-child(4) {
        .timeline_container {
            max-height: 100%;
            
            div:nth-child(2).edu_timeline_card {
                display: flex;
                flex-direction: column;
                padding: var(--internal-padding);
                justify-content: space-evenly;
                align-items: center;
                
                p, * {
                    padding: 0;
                }

            }
        }
    }
}

@media (max-width: 425px) {
    .container:nth-child(1) {
        .head {
            display: flex;
            flex-direction: column;
            align-items: center;

            .img_container {
                margin: var(--internal-padding);
            }
        }
    }

    .container:nth-child(2), .container:nth-child(3) {
        .timeline_container {

            max-height: calc(2 * (2 * var(--internal-padding) + var(--img-size-small)));

            div:nth-child(2).client_timeline_card {
                height: calc(2 * var(--internal-padding) + var(--img-size-small));
                
                .img_container {

                    img {
                        width: var(--img-size-small);
                        aspect-ratio: 1;
                    }
                }
            }

            div:nth-child(2).achievement_timeline_card{
                height: calc(2 * var(--internal-padding) + var(--img-size-small));
            }
        }
    }

    .container:nth-child(5) {
        .project_card_preview {
            .project_preview {
                .project_content_section {
                    p {
                        -webkit-line-clamp: 2;
                    }
                }
            }
        }
    }
}
