.important_text {
    color: var(--primary);
}

.bullet {
    background-color: var(--primary);
    width: var(--bullet-size);
    aspect-ratio: 1;
    border-radius: var(--border);
}

.category_container {
    margin-block: var(--major-content-spacing);
    padding-inline: var(--internal-padding);
}

.timeline_container {
    padding-top: var(--internal-padding); 
}

.timeline {
    display: grid;
    grid-template-rows: var(--bullet-size) auto;
}

.timeline_history {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline_history p {
    padding-left: var(--internal-padding);
    font-size: var(--small-text);
}

.timeline_extension {
    height: var(--bar-size);
    width: calc(var(--internal-padding) * 3);
    background-color: var(--text-color);
}

.timeline_card_container {
    display: grid;
    grid-template-columns: var(--bullet-size) auto;
}

.timeline_progress {
    width: var(--bar-size);
    height: 100%;
    background-color: var(--text-color);
    justify-self: center;
}

.timeline_card {
    border-radius: var(--border);
    background-color: var(--secondary);
    padding-inline: var(--internal-padding);
}

.timeline_card h3 {
    color: var(--primary);
    font-size: var(--body-text);
    padding-top: var(--internal-padding);
}

.timeline_card p {
    font-size: var(--body-text);
}

.projects, .experience_points {
    padding-inline: 0;
    margin: 0;
    padding-top: calc(var(--internal-padding) / 2);
    list-style: none;
}

.experience_points {
    padding-bottom: var(--internal-padding);
}

.list_item_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.list_item_container .bullet {
    width: var(--small-text);
    height: var(--small-text);
}

.list_item_container svg {
    fill: var(--primary);
    width: var(--bullet-size);
    height: var(--bullet-size);
    transform: scale(0.5, 0.5);
}

.projects a {
    color: var(--text-color);
    text-decoration: none;
}

.projects p {
    font-size: var(--small-text);
}
