.projects_container{
    display: grid;
    grid-template-columns: 70% auto;
    overflow-y: scroll;
 }

.projects_container .projects_list {
    padding: 0;
    margin: 0;
}

.project_card {
    height: calc(100vh - (2 * var(--major-content-spacing) + 4 * var(--internal-padding) + var(--large-heading)));
    margin-block: var(--internal-padding);
    background-color: var(--secondary);
    border-radius: var(--border);
    padding: var(--internal-padding);
}

.project_card > div {
    height: 100%;
    overflow-y: scroll;
}

.project_header {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 40%;
}

.project_header h4 {
    font-weight: normal;
}

.project_img {
    border-radius: var(--border);
    margin-right: var(--internal-padding);
    overflow: hidden;
}

.project_img img {
    width: 100%;
    height: 100%;
}

.project_card .project_content {
    height: 60%;
}

.project_card .projects_content_section {
    padding-block: calc(var(--internal-padding) / 2);
}

.nav_table {
    display: flex;
    flex-direction: column;
    height: calc(100vh - (2 * var(--major-content-spacing) + 2 * var(--internal-padding) + var(--large-heading)));
    border-radius: var(--border);
    border-style: solid;
    border-color: var(--text-color);
    border-width: var(--bar-size);
    margin-top: calc(var(--major-content-spacing) + var(--large-heading) + var(--internal-padding) * 3 / 2);
    margin-right: var(--internal-padding);
    overflow-y: scroll;
    position: sticky;
    top: 0;
}

.nav_category {
    display: flex;
    flex-direction: column;
}

.nav_category p {
    padding-inline: var(--internal-padding);
    padding-block: calc(var(--internal-padding) / 2);
}

.nav_category .nav_option {
    width: 100%;
    text-align: center;
}

.nav_category *:hover {
    background-color: var(--secondary);
}

@media (max-width: 768px) {
    .projects_container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 412px) {
    .project_header {
        display: flex;
        flex-direction: column;
        height: 60%;
    }
}
