.projects_container{
    display: grid;
    grid-template-columns: 70% auto;
    overflow-x: hidden;
    position: relative;
}

.projects_container .projects_list {
    padding: 0;
    margin: 0;
}

.projects_list {
    overflow-y: scroll;
}

.project_card {
    height: calc(100vh - (2 * var(--major-content-spacing) + 4 * var(--internal-padding) + var(--large-heading)));
    margin-block: var(--internal-padding);
    background-color: var(--secondary);
    border-radius: var(--border);
    padding: var(--internal-padding);
}

.project_card > div {
    height: 100%;
    overflow-y: scroll;
}

.project_header {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 40%;
}

.project_header h4 {
    font-weight: normal;
}

.project_img {
    border-radius: var(--border);
    margin-right: var(--internal-padding);
    overflow: hidden;
}

.project_img img {
    width: 100%;
    height: 100%;
}

.project_card .project_content {
    height: 60%;
}

.project_card .projects_content_section {
    padding-block: calc(var(--internal-padding) / 2);
    padding-right: var(--internal-padding);
}

.nav_table {
    display: flex;
    flex-direction: column;
    height: calc(100vh - (2 * var(--major-content-spacing) + 2 * var(--internal-padding) + var(--large-heading)));
    border-radius: var(--border);
    border-style: solid;
    border-color: var(--text-color);
    border-width: var(--bar-size);
    margin-top: calc(var(--major-content-spacing) + var(--large-heading) + var(--internal-padding) * 3 / 2);
    margin-right: var(--internal-padding);
    overflow-y: scroll;
    position: sticky;
    top: 0;
}

.nav_category {
    display: flex;
    flex-direction: column;
}

.nav_category p {
    padding-inline: var(--internal-padding);
    padding-block: calc(var(--internal-padding) / 2);
}

.nav_category .nav_option {
    width: 100%;
    text-align: center;
}

.nav_option a {
    text-decoration: none;
    color: var(--text-color);
}

.nav_category *:hover {
    background-color: var(--secondary);
}

@media (max-width: 768px) {
    .projects_container {
        display: flex;
        flex-direction: column;
    }

    .projects_mobile_nav {
        display: grid;
        grid-template-rows: auto var(--bar-size);
        background-color: var(--background-color);
        position: sticky;
        top: 0;
    }

    .projects_mobile_nav .bar {
        --margin: calc(var(--vertical-separator) / (4 * 2) - var(--bullet-size));
        --buttons-width: calc(var(--vertical-separator) / 4 - 2 * var(--margin));
        height: calc(2 * var(--margin) + var(--buttons-width));

        display: flex;
        flex-direction: row;
        align-items: center;

        h3 {
            flex-grow: 1;
            height: fit-content;
            padding-inline: var(--internal-padding);
        }

        .projects_burger {
            border-radius: var(--border);
            width: var(--buttons-width);
            height: var(--buttons-width);
            margin: var(--margin);
            background-color: var(--secondary);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            span {
                width: 0.5rem;
            }

            div {
                width: 60%;
                height: var(--bar-size);
                background-color: var(--text-color);
                position: absolute;
            }

            .line_1 {
                rotate: -45deg;
            }

            .line_2 {
                rotate: 45deg;
            }
        }
        
    }

    .mobile_nav_container {
        --margin: calc(var(--vertical-separator) / (4 * 2) - var(--bullet-size));
        --buttons-width: calc(var(--vertical-separator) / 4 - 2 * var(--margin));
        position: fixed;
        width: 70%;
        height: calc(100% - 2 * (2 * var(--margin) + var(--buttons-width) + var(--bar-size)) );
        overflow-y: scroll;
        background-color: var(--background-color);
        top: calc(2 * (2 * var(--margin) + var(--buttons-width) + var(--bar-size)));
        transform: translateX(calc(100% * 100 / 70));
    }

    @keyframes projects_nav_slide{
        from {
            transform: translateX(calc(100% * 100 / 70));
        }
        to {
            transform: translateX(calc(100% * 100 / 70 - 100%));
        }
    }

    .mobile_nav_container_active {
        animation-name: projects_nav_slide;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-direction: normal;
    }

    .mobile_nav_container_deactive {
        animation-name: projects_nav_slide;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
}

@media (max-width: 425px) {
    .project_header {
        display: flex;
        flex-direction: column;
        height: 60%;
    }
}
